<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Comment</display-name>
  <!-- 监听comet容器 -->
  <listener>
  	<listener-class>org.comet4j.core.CometAppListener</listener-class>
  </listener>
  <!--监听web上下文 -->
  <listener>
  	<listener-class>controller.CometListener</listener-class>
  </listener>
  <!-- 要发送的消息 -->
  <servlet>
    <description>Comet连接[默认:org.comet4j.core.CometServlet]</description>
    <display-name>CometServlet</display-name>
    <servlet-name>CometServlet</servlet-name>
    <servlet-class>org.comet4j.core.CometServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CometServlet</servlet-name>
    <url-pattern>/conn</url-pattern>
  </servlet-mapping>
   <!-- 要发送的消息 -->
  <servlet>
    <description>Comet连接[默认:org.comet4j.core.CometServlet]</description>
    <display-name>myCometServlet</display-name>
    <servlet-name>myCometServlet</servlet-name>
    <servlet-class>controller.CometServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myCometServlet</servlet-name>
    <url-pattern>/myCometServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Comet连接[默认:org.comet4j.core.CometServlet]</description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>common.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatComet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>  
    <description></description>  
    <display-name>MessageServlet</display-name>  
    <servlet-name>MessageServlet</servlet-name>  
    <servlet-class>common.MessageServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>MessageServlet</servlet-name>  
    <url-pattern>/MessageServlet</url-pattern>  
  </servlet-mapping>  
  
  
  
   <servlet>  
    <description></description>  
    <display-name>FreemarkerServlet</display-name>  
    <servlet-name>FreemarkerServlet</servlet-name>  
    <servlet-class>freemarker.FreemarkerServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>FreemarkerServlet</servlet-name>  
    <url-pattern>*.do</url-pattern>  
  </servlet-mapping>  
  
  
     <servlet>  
    <description></description>  
    <display-name>webmessage</display-name>  
    <servlet-name>webmessage</servlet-name>  
    <servlet-class>webscoket.WebMessageServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>webmessage</servlet-name>  
    <url-pattern>/webmessage</url-pattern>  
  </servlet-mapping> 
  <servlet>
  	<servlet-class>gc.LeakingServlet</servlet-class>
  	<servlet-name>gcLeal</servlet-name>
  </servlet>
  <servlet-mapping>
  	 <servlet-name>gcLeal</servlet-name>  
    <url-pattern>/gcLeal</url-pattern>  
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>